[credential]
    helper = manager
[user]
    name = guricerin
	email = chanbo1e9@gmail.com
[core]
    editor = vim
    quotepath = false
	pager = LESSCHARSET=utf-8 less
    # windows only
    autocrlf = input
    symlinks = true
    filemode = false
    longpaths = true
    ignorecase = false
[gui]
    encoding = utf-8
[color]
    ui = auto
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
    newMoved = cyan
    oldMoved = blue
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
    current = green reverse
    local = yellow
    remote = green
